<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>book store</h1>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
    <p>welcome {{user.username}}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">login</a></p>
    <p><a href="{% url 'signup' %}">signup</a></p>
    {% endif %}
    
</body>
</html>